.aboutUsSection {
  padding: 60px 10%;
  background-color: #fff;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* Responsive column layout for smaller screens */
@media (max-width: 1024px) {
  .contentContainer {
    flex-direction: column;
    text-align: center;
  }
}

.textContent {
  flex: 1;
}

.subtitle {
  color: #c00;
  font-size: 18px;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 28px;
  color: #555;
  margin-bottom: 30px;
}

.infoBlocks {
  display: flex;
  gap: 40px;
}

/* Stack the info blocks on smaller screens */
@media (max-width: 768px) {
  .infoBlocks {
    flex-direction: column;
    align-items: center;
  }
}

.infoBlock {
  flex: 1;
  text-align: center;
}

.icon {
  font-size: 40px;
  color: #c00;
  margin-bottom: 10px;
  text-align: left;
}

.infoTitle {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.infoText {
  font-size: 26px;
  color: #555;
  text-align: left;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }

  .infoTitle {
    font-size: 20px;
  }

  .infoText {
    font-size: 14px;
  }
}
